<!-- Loop over each object in the projects array -->
{{#each post as |post| }}
<div class="row mb-12 project">
  <div class="col-md-12" id="homePage">
    <h4 class="miniHeader">To</h4>
    <h1 class="homeHeader">Tech Blog!</h1>
  </div>
</div>
{{/each}}
